* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    ::-webkit-scrollbar {
        background: #FBFBFB;
        width: 5px;
    }
    ::-webkit-scrollbar-thumb {
        border: solid 0 transparent;
        background-color: #FF0101;
    }
}

$color-1: #FFFFFF;
$color-2: #020203;
$color-3: #FF0101;
$color-4: #FBFBFB;
$color-5: #DEDEDE;
$color-6: #20253A;
$color-7: #74798C;
$color-8: #282D30;

body {
    background-color: $color-1;
}

$medium: 500;

$text-xxxsmall: 7px;
$text-xxsmall: 12px;
$text-xsmall: 14px;
$text-small: 15px;
$text-xxmedium: 18px;
$text-xmedium: 18px;
$text-medium: 24px;
$text-big: 48px;